<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="120">
	<properties>
		<property name="LOG_HOME">/data/logs</property>
		<property name="LOG_Dir_DATE">/data/logs</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />
		</Console>
		<RollingRandomAccessFile name="FileAppender_Info" immediateFlush="true" fileName="${LOG_HOME}/$${date:yyyy}/$${date:MM}/$${date:dd}/%d{HH}-info.log"
			filePattern="${LOG_HOME}/history/$${date:yyyy}/$${date:MM}/$${date:dd}/%d{HH}-info.log">
			<Filters>
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
				<ThresholdFilter level="Warn" onMatch="DENY" onMismatch="NEUTRAL" />
			</Filters>
			<PatternLayout pattern="%m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<root level="all">
			<appender-ref ref="Console" />
			<appender-ref ref="FileAppender_Info" />
		</root>
	</Loggers>
</Configuration>